#our-team-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.team-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;

  margin-top: 12px;
  margin-bottom: 36px;
}
.team-img {
  width: 150px;
  height: 150px;

  margin-bottom: 20px;
}
.team-name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
.team-info {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #000;
}
.line-list {
  display: flex;
  column-gap: 6px;
  margin-bottom: 36px;
  padding-left: 181px;
  padding-right: 181px;
  padding-bottom: 36px;
  border-bottom: 1px solid black;
}
.line-item {
  display: block;
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background-color: #d9d9d9;
}
.team-button--l {
  position: absolute;
}
.team-button--r {
  position: absolute;
}

.team-svg--l{
    width: 150px;
    height: 75px;
    fill: #000;
}