/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

@import url('./footer.css');
/* @import url('./container.css'); */
@import url('./our-team.css');
/* @import url('./choose-scientist.css'); */
@import url('./guess-number.css');
@import url('./background.css');

:root {
  --font-family: 'Montserrat Alternates', sans-serif;
  --second-family: 'Inter', sans-serif;
  --third-family: 'Sacramento', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
